
.join-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.room-item {
  background-color: #464866;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.room-item h3 {
  font-size: 20px;
  color: white ;
  margin: 0 0 10px;
}

.room-item p {
  font-size: 16px;
  color: white;
  margin: 0 0 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.error-message {
  color: #d9534f;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #777;
}

.no-rooms-message {
  text-align: center;
  font-size: 18px;
  color: #777;
}
