.study-room-chat{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #25274D;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.study-room-chat h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.messages-container {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 10px;
  margin-bottom: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
}

.message strong {
  font-weight: bold;
  color: #007bff;
}

.message-input-container {
  display: flex;
  gap: 10px;
}

/* .message-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
} */

.message-input:focus {
  border-color: #007bff;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.send-button:hover {
  background-color: #0056b3;
}
