/* Header styles */
h1 {
    text-align: center;
    color: #aaabb8;
    font-size: 2rem;
    margin: 0;
}

.header-row {
    background-color: #25274D;
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab-buttons button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #2e9cca;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Roboto Slab', sans-serif;
}

.tab-buttons button i {
    font-size: 1.2rem;
}

.tab-buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.tab-buttons button.active {
    border: solid #2e9cca;
    background-color: #25274d; 
    color: #fff;
    transform: scale(1.1);
}

.tab-content {
    text-align: center;
    padding: 20px;
    background-color: #25274D;
}
